@{
    ViewData["Title"] = "Demo to show how to use Secretes in .net Core";
}

    <label>SecretKey1:</label>  @ViewBag.SecretKey1;<br />
<label>SecretKey2:</label>  @ViewBag.SecretKey2;<br />
<label>SecretKey3:</label>  @ViewBag.SecretKey3;<br />
<label>SecretKey4:</label>  @ViewBag.SecretKey4;<br />
